/*-----------模組module------------------*/
//part of normalize
   /* Remove the inheritance of text transform in Edge, Firefox, and IE.
	  1. Remove the inheritance of text transform in Firefox.*/
 
	button,
	select { /* 1 */
	  text-transform: none;
	}

	/**
	 * Correct the inability to style clickable types in iOS and Safari.
	 */

	button,
	[type="button"],
	[type="reset"],
	[type="submit"] {
	  -webkit-appearance: button;
	}

	/**
	 * Remove the inner border and padding in Firefox.
	 */

	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
	  border-style: none;
	  padding: 0;
	}

	/**
	 * Restore the focus styles unset by the previous rule.
	 */

	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring {
	  outline: 1px dotted ButtonText;
	}

//submit buttons

	[type="submit"] {
		display: inline-block;
		cursor:pointer;
		box-shadow: none;
		color: #fff;
		font-family: 'Oswald', sans-serif;
		font-size: 1.1em;
		padding:0 18px;
		line-height: 40px;
		border:none;
		border-radius: 40px;

	}

.circle{
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background: #e94c3c;
		float: left;
		margin-right: 25px;
		overflow: hidden;
}

.small-circle{
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background: #e94c3c;
		float: left;
		margin-right: 10px;
}

.button{
		display:inline-block;
		color: #fff;
		font-family: 'Oswald', sans-serif;
		font-size: 1.1em;
		padding:0 18px;
		line-height: 40px;
		border-radius: 40px;
	}



	.black{
		background: #000;
		color: #fff;
	}
	.orange{
		background:#e94c3c;
		color: #fff;
	}
